@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z5ni1g');
  src:  url('fonts/icomoon.eot?z5ni1g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z5ni1g') format('truetype'),
    url('fonts/icomoon.woff?z5ni1g') format('woff'),
    url('fonts/icomoon.svg?z5ni1g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE921:before {
  content: "\e921";
}
.icon-tele:before {
  content: "\e91e";
}
.icon-cave:before {
  content: "\e91f";
}
.icon-egg:before {
  content: "\e920";
}
.icon-dj:before {
  content: "\e91d";
}
.icon-aim:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91b";
}
.icon-nests:before {
  content: "\e91a";
}
.icon-xh:before {
  content: "\e919";
}
.icon-jump:before {
  content: "\e918";
}
.icon-kg3:before {
  content: "\e916";
}
.icon-kg4:before {
  content: "\e917";
}
.icon-sort:before {
  content: "\e913";
}
.icon-tasc:before {
  content: "\e903";
}
.icon-tdesc:before {
  content: "\e904";
}
.icon-wx:before {
  content: "\e901";
}
.icon-dx:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e902";
}
.icon-pause:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e909";
}
.icon-chevron-left:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e90b";
}
.icon-chevron-up:before {
  content: "\e90c";
}
.icon-chevrons-down:before {
  content: "\e90d";
}
.icon-chevrons-left:before {
  content: "\e90e";
}
.icon-chevrons-right:before {
  content: "\e90f";
}
.icon-chevrons-up:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-x-square:before {
  content: "\e912";
}
.icon-cloud-storage:before {
  content: "\e908";
}
.icon-filter_drama:before {
  content: "\e3dd";
}
.icon-moon:before {
  content: "\e914";
}
.icon-moon2:before {
  content: "\e915";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-pencil:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e947";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-cog:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-undo:before {
  content: "\e965";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-spinner11:before {
  content: "\e984";
}
